header {
  background-color: rgb(76, 36, 116);
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

h1 {
  font-size: 1.5rem;
  white-space: nowrap;
}

a {
  font-size: 1.1rem;
  display: inline;
  cursor: pointer;
}

.new-anchor {
  display: flex;
  color: white;
  border: 1px inset rgb(6, 3, 9);
  background-color: rgb(76, 36, 116);
  padding: 0.3rem 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
  align-items: center;
}

img {
  width: 100%;
}

.entries-new {
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.6rem;
}

.new-entry {
  padding: 0 2rem;
  max-width: 100%;
}

#title,
#photo-url,
#notes {
  width: 100%;
  margin: 1rem 0;
  line-height: 1.5;
  border: 1px solid rgb(223, 223, 223);
}

label {
  font-weight: bold;
  font-size: 0.7rem;
}

.save {
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
  padding: 0;
}

button {
  color: white;
  background-color: rgb(76, 36, 116);
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 5px;
  margin: 0;
}

ul {
  display: inline;
}

li {
  list-style: none;
  margin: 0;
}

.entry-form {
  margin: 0 auto;
  padding: 0 1.5rem;
}

.entries {
  margin: 0 auto;
  padding: 0 1.5rem;
}

.no-entries {
  text-align: center;
  font-size: 1.5rem;
}
